
    .marker-cluster-small {
        background-color: oklch(86.1% 0.122 131.1 / 0.6);
        }
    .marker-cluster-small div {
        background-color: oklch(75.9% 0.201 136.6 / 0.6);
        }

    .marker-cluster-medium {
        background-color: oklch(86.9% 0.145 95.6 / 0.6);
        }
    .marker-cluster-medium div {
        background-color: oklch(83.1% 0.168 91.2 / 0.6);
        }

    .marker-cluster-large {
        background-color: oklch(78.3% 0.129 43.4 / 0.6);
        }
    .marker-cluster-large div {
        background-color: oklch(71.3% 0.171 54.9 / 0.6);
        }

        /* IE 6-8 fallback colors */
    .leaflet-oldie .marker-cluster-small {
        background-color: oklch(86.1% 0.122 131.1);
        }
    .leaflet-oldie .marker-cluster-small div {
        background-color: oklch(75.9% 0.201 136.6);
        }

    .leaflet-oldie .marker-cluster-medium {
        background-color: oklch(86.9% 0.145 95.6);
        }
    .leaflet-oldie .marker-cluster-medium div {
        background-color: oklch(83.1% 0.168 91.2);
        }

    .leaflet-oldie .marker-cluster-large {
        background-color: oklch(78.3% 0.129 43.4);
        }
    .leaflet-oldie .marker-cluster-large div {
        background-color: oklch(71.3% 0.171 54.9);
    }

    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;
        }
    .marker-cluster div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
    .marker-cluster span {
        line-height: 30px;
        }
        