.container {
    width:100%;
    border:1px solid oklch(86.7% 0 0);
}
.container div {
    width:100%;
}
.container .header {
    background-color:oklch(86.7% 0 0);
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}